/* creates clickable logo along with custom.js */
body {
    font-size: 17px;
}

/* search results */
prm-brief-result-container .list-item-primary-content {
    background-color: #ffffff;
}

.bar.alert-bar {
    background-color: #FFFCC6;
    height: 40px !important;
    min-height: 40px !important;
}

/* sidebar title */
.sidebar-title {
    font-weight: bold;
    color: #474747;
}
.section-content .md-chips .md-chip strong {
    color: #7F202E;
}
.md-autocomplete-suggestions .suggestion-scope, .text-italic{
    color: #474747;
}
prm-logo div.product-logo {
    display:none;
    /*height: 75px;*/
}
prm-logo div.product-logo-local {
    display: flex;
}
prm-logo .logo-image, prm-logo img {
    max-height: 100%;
}
/* menu item font-color */
prm-topbar .md-button:not(.md-icon-button) {
    color: #ffffff;
}

/*User name or Guest*/
prm-user-area .user-menu-button .user-name {
    color: #f7eda3;
}

.user-language {
    display: none;
}

.no-decoration {
    text-decoration: none;
}

/*sign-in box*/
.light-on-dark-dialog md-input-container label:not(.md-no-float):not(._md-container-ignore) {
    color: #474747;
    font-weight: 600;
    opacity: 1;
}

md-input-container input[type="password"], md-input-container input[type=text] {
    background-color: rgb(250, 255, 189);
}

md-dialog.light-on-dark-dialog md-input-container .md-input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused .md-input, md-dialog.light-on-dark-dialog md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-dialog.light-on-dark-dialog md-input-container:not(.md-input-invalid).md-input-focused input, md-dialog.light-on-dark-dialog md-input-container:not(.md-input-invalid).md-input-focused label, md-dialog.light-on-dark-dialog md-input-container.md-input-focused input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused label, md-dialog.light-on-dark-dialog md-input-container.md-input-has-value .md-input, md-dialog.light-on-dark-dialog md-input-container.md-input-has-value input, md-dialog.light-on-dark-dialog md-input-container.md-input-has-value label, md-dialog.light-on-dark-dialog md-input-container input, md-dialog.light-on-dark-dialog md-input-container label {
    color:black;
}

prm-fines-after .md-button {
    color: #FFFFFF;
    background-color: #7F202E;
}

/* Browzine styles */
.browzine-icon  {
    margin-right:2px;
}

.browzine-external-link {
    width:15px;
    height:15px;
    min-width:15px;
    min-height:15px;
}

#facets {
    font-size: 15px;
}

.primo-scrollbar {
    width: 310px;
}


/*Main menu overlay screen*/
md-dialog.light-on-dark-dialog {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

/*Hide the redundant main menu links code text*/
prm-main-menu[menu-type=full] md-card-title md-card-title-text:only-child .md-subhead {
    display: none;
}

.home-page-image {
    width: 100%;
}

/*Hide PCI toggle*/
div[ng-if="$ctrl.showPcAvailability "] {display:none;}
div[ng-if="$ctrl.showPcAvailability && !$ctrl.searchInProgress"] {display:none;}